<header>
  <div>
    @include("/admin/topicpath.html")
  </div>
  <div>
    <h1 class="acms-admin-admin-title js-dialog-title">
      V2 メニュー
    </h1>
  </div>
  <div class="acms-admin-col-md-6">

  </div>
</header>

<h2 class="acms-admin-admin-title2">
  <!--T-->モジュール<!--/T-->
</h2>
<div class="acms-admin-module-list">
  <div class="acms-admin-margin-bottom-large">
    <table class="acms-admin-admin-mini-table acms-admin-admin-config-table">
      <tbody>
        <tr>
          <td class="acms-admin-config-name">
            <i class="acms-admin-icon acms-admin-icon-config_entry_body"></i>
              <div class="acms-admin-config-module-name">
                <!--T-->エントリーボディ<!--/T-->
                <span class="acms-admin-config-module-name-en">V2_Entry_Body</span>
              </div>
          </td>
          <td class="acms-admin-config-code"><a href="%{ADMIN_BASE_URL}extension/plugins/V2/template/acms-code/vars/Entry_Body.html"
              class="js-popup_setting">
              <!--T-->変数表<!--/T-->
            </a>
            <a href="%{ADMIN_BASE_URL}extension/plugins/Event/template/acms-code/snippets/Entry_Body.html" class="js-popup_setting">
              <!--T-->スニペット<!--/T-->
            </a>
          </td>
        </tr>
        <tr>
          <td class="acms-admin-config-name">
            <i class="acms-admin-icon acms-admin-icon-config_entry_summary"></i>
              <div class="acms-admin-config-module-name">
                <!--T-->エントリーサマリー<!--/T-->
                <span class="acms-admin-config-module-name-en">V2_Entry_Summary</span>
              </div>
          </td>
          <td class="acms-admin-config-code"><a href="%{ADMIN_BASE_URL}extension/plugins/V2/template/acms-code/vars/Entry_Summary.html"
              class="js-popup_setting">
              <!--T-->変数表<!--/T-->
            </a>
            <a href="%{ADMIN_BASE_URL}extension/plugins/Event/template/acms-code/snippets/Entry_Summary.html" class="js-popup_setting">
              <!--T-->スニペット<!--/T-->
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
